body{
    background-color: #E0E0E0;
    color: black;

}

td{
    width: 650px;
    align: center;
    background-color: #5C6B7B;
}

#igen{
    align:center;
    background-color: white;

}

#tabla{
    
}