body{
    background-color: #E0E0E0;
    color: black;

}

#elso{
    background-color:#5C6B7B;
}

#igen{
    align:center;
    background-color: white;
    width: 650px;


}

#tabla{
   
}

span{
    font-size: smaller;
}

#gyere{
   background-color: #5C6B7B;  
}

#cella{
    background-color: #CDDBEB;
    height: 35px;
}

#nevek{
    text-align: center;
}

b{
    font-size: large;
}