body{
    background-color: #E0E0E0;
    color: black;

}

td{
}

#igen{
    align:center;
    background-color:#5C6B7B;
    width: 650px;
    

}

#tabla{
    background-color: #CDDBEB ;
    height: 35px;
}

span{
    font-size: smaller;
}

#gyere{
   background-color: #5C6B7B;  
}